name: Deploy Mapa PADSE
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inyectar API Key
        run: |
          # Cambiamos index.html por Index.html para que coincida con tu archivo real
          sed -i 's|const GEMINI_API_KEY = "TU_API_KEY_AQUI";|const GEMINI_API_KEY = "${{ secrets.GEMINI_KEY }}";|g' Index.html
      - name: Configurar Pages
        uses: actions/configure-pages@v4

      - name: Subir artefacto
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Desplegar a GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
